.filter-list, .language-list, .tool-list {
    display: inline-block; 
}

button.filter{
    background-color: hsl(180, 31%, 95%);
    border: none;
    border-radius: 2px;
    color: hsl(180, 29%, 50%);
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    margin-left: 4px;
}

button.filter:hover{
    background-color: hsl(180, 29%, 50%);
    color: hsl(180, 52%, 96%);
}