.logo-container {
	margin: 30px 25px 30px 40px;
}

.logo-container .logo{
	display: inline-block;
	width: 90px;
	height: 90px;
	border: none;
	border-radius: 100%;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-color: hsl(180, 29%, 50%);
}
